h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}
.second{
    /* display: none; */
    /* visibility: hidden; */
}
.blog{
    margin: 40px;
    border: 10px solid red;
   box-shadow: 10px 10px 20px blue ;
}
.boy{
    border: 1px solid purple;
     
}
li{
    display: inline;
}